---
layout: default
title: homepage
---

<article class="my-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for post in paginator.posts %}
    <div class="col">
      <div class="card h-100">
        {% if post.img %}
        <img src="{{ post.img }}" alt="..." class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h3 class="card-title">
            <a href="{{ post.url | prepend: site.baseurl }}" class="stretched-link text-dark text-decoration-none">
              {{ post.title }}
            </a>
          </h3>
          <p class="card-text">
            {{ post.content | truncatewords: 12 }}
          </p>
          <time datetime="{{ post.date | date_to_xmlschema }}" class="text-secondary">{{ post.date | date_to_string }}</time>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</article>
