<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% if page.name == "index.html" %}
      {{ site.title }}{% if site.description %} &middot; {{ site.description }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    </title>
    <link rel="shortcut icon" href="{{ 'assets/favicon.ico' | relative_url }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'assets/stylesheet.css' | relative_url }}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light border-bottom">
        <div class="container">
          <a href="{{ site.baseurl }}" class="navbar-brand">{{ site.title }}</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
    <footer class="my-5">
      <div class="container border-top border-3 py-3">
        <nav class="nav">
          <a href="{{ 'about' | relative_url }}" class="nav-link text-dark"><small>About</small></a>
          <a href="{{ 'contact' | relative_url }}" class="nav-link text-dark"><small>Contact</small></a>
          <a href="{{ 'sitemap' | relative_url }}" class="nav-link text-dark"><small>Sitemap</small></a>
          <a href="{{ 'feed' | relative_url }}" class="nav-link text-dark"><small>RSS</small></a>
        </nav>
      </div>
    </footer>
    <!-- js script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
